<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisenut.run.mapper.RunMapper">

	<resultMap type="com.wisenut.run.vo.CfTrainingDataVo" id="tdvo"></resultMap>
 
	<select id="getTargetDir" resultType="String" parameterType="String">
	
	SELECT CFSV_ANAL_INDIR
	  FROM WISE_CF_SERVER
	 WHERE 1=1
	   AND CFSV_ID = #{_parameter}
	   
	</select>
	
	
	<select id="getTrainingDir" resultType="String" parameterType="String">
	
	SELECT CFSV_STD_INDIR
	  FROM WISE_CF_SERVER
	 WHERE 1=1
	   AND CFSV_ID = #{_parameter}
	   
	</select>
	
	
	<select id="selectTrainingData" parameterType="String" resultMap="tdvo">

	SELECT B.CFCT_VALUE AS label
	     , A.CFST_CONTENT AS content
	     , '' AS docid
	  FROM WISE_CF_STUDY_DATA A
	  LEFT OUTER JOIN WISE_CF_CATEGORY B
	    ON A.CFCT_ID = B.CFCT_ID
	 WHERE 1=1
	   AND A.CFSV_ID = #{_parameter}
	   
	</select>
	
</mapper>



