<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisenut.search.mapper.SearchMapper">

    <select id="getCategories" resultType="map" parameterType="String">
		SELECT CONCAT(A.CFCT_NAME,  (case when B.CFCT_NAME IS NOT NULL then CONCAT('/',B.CFCT_NAME) else '' end )  ) AS title
		     , 0 AS cnt
		  FROM WISE_CF_CATEGORY A 
		  LEFT OUTER JOIN WISE_CF_CATEGORY B
		    ON A.CFCT_ID = B.CFCT_PR_ID
		 WHERE 1=1
		   AND A.CFSV_ID = #{_parameter}
		   AND A.CFCT_DEPTH = '1'
		 ORDER BY A.CFCT_SORT ASC, B.CFCT_SORT ASC
    </select>

</mapper>



