<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisenut.server.mapper.ServerMapper">
 
 	<resultMap type="com.wisenut.server.vo.ServerVo" id="serverVo"></resultMap>
 	<parameterMap type="com.wisenut.server.vo.ServerVo" id="pserverVo"></parameterMap>

	<insert id="saveServer" parameterMap="pserverVo">
		<selectKey keyProperty="key_id" resultType="int" order="BEFORE">
			SELECT NVL(MAX(CFSV_ID),0) + 1 FROM WISE_CF_SERVER
		</selectKey>
			INSERT INTO WISE_CF_SERVER
				(
			      CFSV_ID
				, CFSV_IP
				, CFSV_PORT
				, CFSV_NM
				, CFSV_DESC
				, CFSV_REG_DT
				, CFSV_UPD_DT 
				, CFSV_STD_INDIR
				)
				
			VALUES
				( 
				  #{key_id} 
				, #{cfsv_ip}
				, #{cfsv_port}
				, #{cfsv_nm}
				, #{cfsv_desc, jdbcType=VARCHAR}
				, SYSDATE
				, SYSDATE
				, #{cfsv_std_indir, jdbcType=VARCHAR}
				)
 	</insert>

	<update id="updateServer" parameterMap="pserverVo">
		UPDATE WISE_CF_SERVER
		   SET CFSV_IP 		= #{cfsv_ip}
			, CFSV_PORT 	= #{cfsv_port}
			, CFSV_NM 		= #{cfsv_nm}
			, CFSV_DESC 	= #{cfsv_desc}
			, CFSV_UPD_DT 	= SYSDATE
			, CFSV_STD_INDIR   = #{cfsv_std_indir}
		 WHERE 1=1
		   AND CFSV_ID = #{cfsv_id}
	</update>

	<delete id="deleteServer" parameterMap="pserverVo">
		DELETE FROM WISE_CF_SERVER
		WHERE 1=1
		   AND CFSV_ID = #{p_cfsv_id}
	</delete>
 
    <select id="getTotalActList" resultType="int" parameterMap="pserverVo">
	    SELECT count(*)
	      FROM WISE_CF_SERVER
	     WHERE 1=1
	     <if test="query != '' and  query != null">
	 	   AND CFSV_NM LIKE '%'||#{query}||'%' 
	     </if>
    </select>

	<select id="getList" parameterMap="pserverVo" resultMap="serverVo">
	    
	     SELECT CFSV_ID
			, CFSV_IP
			, CFSV_PORT
			, CFSV_NM
			, CFSV_DESC
			, NVL(CFSV_REG_DT, SYSDATE) AS CFSV_REG_DT
			, NVL(CFSV_UPD_DT, SYSDATE) AS CFSV_UPD_DT
			, CFSV_STD_INDIR
		   FROM WISE_CF_SERVER
	 	  WHERE 1=1
	 	  <if test="query != '' and  query != null">
			AND CFSV_NM||CFSV_ID||CFSV_IP||CFSV_PORT||CFSV_NM||CFSV_STD_INDIR||CFSV_DESC LIKE '%'||#{query}||'%'
	 	  </if>
	     ORDER BY CFSV_ID DESC
    </select>

	<select id="getDetail" parameterMap="pserverVo" resultMap="serverVo">
		 SELECT CFSV_ID
			, CFSV_IP
			, CFSV_PORT
			, CFSV_NM
			, CFSV_DESC
			, NVL(CFSV_REG_DT, SYSDATE) AS CFSV_REG_DT
			, NVL(CFSV_UPD_DT, SYSDATE) AS CFSV_UPD_DT
			, CFSV_STD_INDIR
			, CFSV_ANAL_INDIR
			, CFSV_ANAL_OUTDIR
			/*
			*/
		   FROM WISE_CF_SERVER
	 	  WHERE 1=1
	     <if test="p_cfsv_id != '' and  p_cfsv_id != null">
		    AND CFSV_ID = #{p_cfsv_id}
	     </if>
	</select>
    
</mapper>