<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisenut.act.mapper.StudyMapper">
 
 	<resultMap type="com.wisenut.act.vo.StudyVo" id="stVo"></resultMap>
	<parameterMap type="com.wisenut.act.vo.StudyVo" id="pstVo"></parameterMap>
	<resultMap type="com.wisenut.act.vo.TrainingVo" id="tdvo"></resultMap>
	
	<select id="getStudyDataBySvId" parameterType="String" resultType="com.wisenut.act.vo.StudyVo">
	/* com.wisenut.act.mapper.StudyMapper.getStudyDataBySvId */
	SELECT A.CFST_ID
	     , A.CFCT_ID
	     , A.CFSV_ID
	     , A.CFST_GUBUN
	     , B.CFCT_VALUE
	     , A.CFST_CONTENT
	     , A.CFST_REG_DT
	     , A.CFST_UPD_DT
	  FROM WISE_CF_STUDY_DATA A
	  LEFT OUTER JOIN WISE_CF_CATEGORY B
	    ON A.CFCT_ID = B.CFCT_ID
	 WHERE 1=1
	   AND A.CFSV_ID = #{_parameter}
	 ORDER BY B.CFCT_SORT ASC, A.CFST_ID ASC
	</select>


	
	<select id="getCategoriesBySvId" parameterType="String" resultType="map">
	
	SELECT CFCT_ID
	     , CFCT_VALUE
	     , CFCT_NAME
	  FROM WISE_CF_CATEGORY
	 WHERE 1=1
	   AND CFSV_ID = #{_parameter}
	 ORDER BY CFCT_SORT ASC
	
	</select>
	

   	
	<insert id="insertCategory" parameterType="com.wisenut.act.vo.CategoryVo">
	
	INSERT INTO WISE_CF_CATEGORY
	(
	  CFCT_ID
	, CFSV_ID
	, CFCT_PR_ID
	, CFCT_VALUE
	, CFCT_NAME
	, CFCT_DEPTH
	, CFCT_SORT
	, CFCT_DESC
	, CFSV_REG_DT
	, CFSV_UPD_DT
	)
	VALUES
	(
	  (SELECT NVL(MAX(CFCT_ID),0) + 1 FROM WISE_CF_CATEGORY WHERE CFSV_ID = #{CFSV_ID})
	, #{CFSV_ID}
	, #{CFCT_PR_ID}
	, #{CFCT_VALUE}
	, #{CFCT_NAME}
	, #{CFCT_DEPTH}
	, #{CFCT_SORT}
	, #{CFCT_DESC}
	, SYSDATE
	, SYSDATE
	)
		
	</insert>
	
	
	
	<delete id="deleteCateStudy" parameterType="com.wisenut.act.vo.CategoryVo">
	DELETE FROM WISE_CF_STUDY_DATA
	 WHERE 1=1
	   AND CFCT_ID = #{CFCT_ID}
	   AND CFSV_ID = #{CFSV_ID}
	</delete>
	
	
	<delete id="deleteTree" parameterType="com.wisenut.act.vo.CategoryVo">
	DELETE FROM WISE_CF_CATEGORY
	 WHERE 1=1
	   AND CFCT_ID = #{CFCT_ID}
	   AND CFSV_ID = #{CFSV_ID}
	</delete>
	
	<select id="getCountByValue" parameterType="com.wisenut.act.vo.CategoryVo" resultType="int">
	
	SELECT COUNT(CFCT_ID)
	  FROM WISE_CF_CATEGORY
	 WHERE 1=1
	   AND CFCT_VALUE 	= #{CFCT_VALUE}
	   AND CFSV_ID 		= #{CFSV_ID}
       AND CFCT_ID		!= #{CFCT_ID}
	
	</select>
	
	<insert id="insertTree" parameterType="com.wisenut.act.vo.CategoryVo">
		<selectKey keyProperty="CFCT_ID" resultType="int" order="BEFORE">
     		SELECT NVL(MAX(CFCT_ID),0) + 1 FROM WISE_CF_CATEGORY WHERE CFSV_ID = #{CFSV_ID}
   		</selectKey>
	
	INSERT INTO WISE_CF_CATEGORY
	(
	  CFCT_ID
	, CFSV_ID
	, CFCT_PR_ID
	, CFCT_VALUE
	, CFCT_NAME
	, CFCT_DEPTH
	, CFCT_SORT
	, CFCT_DESC
	, CFSV_REG_DT
	, CFSV_UPD_DT
	)
	VALUES
	(
	  #{CFCT_ID}
	, #{CFSV_ID}
	, #{CFCT_PR_ID}
	, #{CFCT_VALUE}
	, #{CFCT_NAME}
	, #{CFCT_DEPTH}
	, (SELECT NVL(MAX(CFCT_SORT),0) + 1 FROM WISE_CF_CATEGORY WHERE CFSV_ID = #{CFSV_ID})
	, #{CFCT_DESC}
	, SYSDATE
	, SYSDATE
	)
		
	</insert>
	
	<update id="updateTree" parameterType="com.wisenut.act.vo.CategoryVo">
	
	UPDATE WISE_CF_CATEGORY
	   SET CFCT_NAME 	= #{CFCT_NAME}
	     , CFCT_VALUE	= #{CFCT_VALUE}
	     , CFSV_UPD_DT 	= SYSDATE
	 WHERE 1=1
	   AND CFSV_ID 		= #{CFSV_ID}
	   AND CFCT_PR_ID 	= #{CFCT_PR_ID}
	   AND CFCT_ID 		= #{CFCT_ID}
	
	</update>
	
	<select id="selectAnalTargetData" parameterType="String" resultMap="stVo">
	
	SELECT CF_ID
	     , CF_CONTENT
	  FROM WISE_CF_DATA
	 WHERE 1=1
	   AND CF_ID in (${_parameter})
	
	</select>
	
	
	<insert id="insertStudyData" parameterMap="pstVo">
	INSERT INTO WISE_CF_STUDY_DATA
	(
	  CFST_ID
	, CFCT_ID
	, CFSV_ID
	, CFST_GUBUN
	, CFST_CONTENT
	, CFST_REG_DT
	, CFST_UPD_DT
	)
	VALUES
	(
	  (SELECT NVL(MAX(CFST_ID),0) + 1 FROM WISE_CF_STUDY_DATA)
	, #{cfct_id}
	, #{cfsv_id}
	, #{cfst_gubun}
	, #{cfst_content}
	, SYSDATE
	, SYSDATE
	)
	</insert>
	
	<update id="updateStudyData" parameterType="String">
	
	UPDATE WISE_CF_STUDY_DATA
	   SET CFST_CONTENT = #{param2}
	   	 , CFST_UPD_DT =  SYSDATE
	 WHERE 1=1
	   AND CFST_ID = #{param1}
	
	</update>
	
	
	
	<select id="getTotalStdList" parameterMap="pstVo" resultType="int">
	
	SELECT count(*)
      FROM WISE_CF_STUDY_DATA
     WHERE 1=1
       AND CFCT_ID = #{std_cfct_id}
       <if test="std_query != '' and  std_query != null">
	   AND CFST_CONTENT LIKE '%' ||  #{std_query} || '%'
	   </if>
	
	</select>


	<select id="getStdList" parameterMap="pstVo" resultMap="stVo">
     SELECT CFST_ID
		  , CFCT_ID
		  , CFSV_ID
		  , CFST_GUBUN
		  , CFST_CONTENT
		  , CFST_REG_DT
		  , CFST_UPD_DT
	   FROM (
			SELECT ROW_NUMBER() OVER(ORDER BY CFST_ID DESC) AS RN
		         , CFST_ID
				 , CFCT_ID
				 , CFSV_ID
				 , CFST_GUBUN
				 , CFST_CONTENT
				 , CFST_REG_DT
				 , CFST_UPD_DT
			  FROM WISE_CF_STUDY_DATA
		 	 WHERE 1=1
		 	   <if test="std_query != '' and  std_query != null">
		       AND CFST_CONTENT LIKE '%' ||  #{std_query} || '%'
			   </if>
		       AND CFCT_ID = #{std_cfct_id}
			) A
	  WHERE 1=1
	  	
	    AND A.RN <![CDATA[ >= ]]> #{startNum} AND A.RN <![CDATA[ <= ]]> #{endNum}
	
	</select>
	
	<select id="getStdDetail" parameterType="String" resultMap="stVo">
	
	SELECT CFST_ID
		 , CFCT_ID
		 , (SELECT A.CFCT_NAME FROM WISE_CF_CATEGORY A WHERE A.CFCT_ID = WISE_CF_STUDY_DATA.CFCT_ID) AS CFCT_NM
		 , CFSV_ID
		 , CFST_GUBUN
		 , CFST_CONTENT
		 , CFST_REG_DT
		 , CFST_UPD_DT
	  FROM WISE_CF_STUDY_DATA
 	 WHERE 1=1
       AND CFST_ID = #{_parameter}
	</select>
	
	
	

	<delete id="deleteStudy" parameterType="String">
	
	DELETE FROM WISE_CF_STUDY_DATA
	 WHERE 1=1
	   AND CFST_ID = #{_parameter}
	
	</delete>
	
	
	<select id="selectTrainingData" parameterType="String" resultMap="tdvo">
	
	SELECT CONCAT(DEPT_NM1 , (case when DEPT_NM1 != '' then '/' else '' end ), DEPT_NM2) AS NM
		 , CF_CONTENT
	  FROM (
			SELECT  coalesce((select CFCT_NAME from WISE_CF_CATEGORY where b.CFCT_PR_ID = CFCT_ID),'') as DEPT_NM1
				 , b.CFCT_NAME as DEPT_NM2
				 , a.CF_CONTENT
			  FROM WISE_CF_STUDY_DATA a, WISE_CF_CATEGORY b
			 WHERE 1=1
			   AND a.CFCT_ID = b.CFCT_ID
			   AND b.CFSV_ID = #{_parameter}
			) A
	</select>
	
	
	<select id="selectTreeIdList" parameterType="String" resultMap="tdvo" >
	
	SELECT CONCAT(DEPT_NM1 , (case when DEPT_NM1 != '' then '/' else '' end ), DEPT_NM2) AS NM
		 , CFCT_ID
	  FROM (
			SELECT  coalesce((select CFCT_NAME from WISE_CF_CATEGORY where CFCT_PR_ID = CFCT_ID),'') as DEPT_NM1
				 , CFCT_NAME as DEPT_NM2
                 , CFCT_ID
			  FROM WISE_CF_CATEGORY
			 WHERE 1=1
			   AND CFSV_ID = #{_parameter}
			) A
	</select>


	<delete id="deleteTrainingAllData" parameterType="String" >
	 DELETE
	  FROM WISE_CF_STUDY_DATA
	 where 1=1 
	   and CFCT_ID IN ( 
			select a.CFCT_ID
	          from WISE_CF_CATEGORY a
			 where 1=1
	           and a.CFSV_ID = #{_parameter}
			)
	</delete>
	
	
 	<delete id="deleteCategoryAllData" parameterType="String" >
	 DELETE
	  FROM WISE_CF_CATEGORY
	 where 1=1 
	   and CFSV_ID = #{_parameter}
	</delete>
	
	<update id="updateSort" parameterType="String">
    	UPDATE WISE_CF_CATEGORY SET CFCT_SORT = #{param1} WHERE CFCT_NAME = #{param2}
    </update>
	

</mapper>



