<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisenut.common.mapper.CommonMapper">
 
 	<resultMap type="com.wisenut.common.TreeModel" id="treeVo"></resultMap>
 	<resultMap type="com.wisenut.common.TreeChildModel" id="treeChildVo"></resultMap>
 	<resultMap type="com.wisenut.common.vo.CommonVo" id="commonVo"></resultMap>
	<resultMap type="com.wisenut.common.vo.ServerVo" id="serverVo"></resultMap>
	
	<parameterMap type="com.wisenut.common.vo.CommonVo" id="pcommonVo"></parameterMap>

	<select id="getCodePrList" resultMap="treeVo" parameterMap="pcommonVo">
	SELECT CFCT_ID as ID
		 , CFCT_NAME as TEXT
		 , CFCT_VALUE as DATA
	  FROM WISE_CF_CATEGORY
	 WHERE 1=1
	   AND CFCT_DEPTH 	= '1'
	   AND CFSV_ID 		= #{server_id}
	   ORDER BY CFCT_SORT
	</select>
	
	
	<select id="getChildList" resultMap="treeChildVo" parameterMap="pcommonVo">
	SELECT CFCT_ID as ID
		 , CFCT_NAME as TEXT
		 , CFCT_PR_ID as PR_ID
	  FROM WISE_CF_CATEGORY
	 WHERE 1=1
       AND CFCT_PR_ID 	= #{cfct_pr_id}
       AND CFCT_DEPTH 	= '2'
       AND CFSV_ID 		= #{server_id}
     ORDER BY CFCT_SORT
	</select>
	
	
	<select id="getServerList" resultMap="serverVo">
	SELECT CFSV_ID
		 , CFSV_IP
		 , CFSV_PORT
		 , CFSV_NM
		 , CFSV_DESC
		 , CFSV_REG_DT
		 , CFSV_UPD_DT
		 , CFSV_STD_INDIR
	     , CFSV_ANAL_INDIR
	     , CFSV_ANAL_OUTDIR
	  FROM WISE_CF_SERVER
	ORDER BY CFSV_ID ASC
	</select>
 
 
	<select id="getServerRoot" resultType="map" parameterType="String">
	SELECT CFSV_ID
		 , CFSV_IP
		 , CFSV_PORT
		 , CFSV_NM
		 , CFSV_DESC
		 , CFSV_REG_DT
		 , CFSV_UPD_DT
	  FROM WISE_CF_SERVER
	 WHERE 1=1
	   AND CFSV_ID = #{_parameter}
	</select>
 
 
	<select id="getBarChartData" resultType="map" parameterType="String">
	/* commonMapper.getBarChartData */
	SELECT CFCT_ID
	     , (SELECT CFCT_NAME FROM WISE_CF_CATEGORY WHERE WISE_CF_CATEGORY.CFCT_ID = WISE_CF_STUDY_DATA.CFCT_ID) AS CFCT_NAME
	     , COUNT(CFCT_ID) AS CNT
	  FROM WISE_CF_STUDY_DATA
	 WHERE 1=1
	   AND CFSV_ID = #{_parameter}
	 GROUP BY CFCT_ID
	</select> 
 
</mapper>



