<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible" />
    <title>통합검색</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/default.css">
</head>

<body>
    <div class="wrap">

        <!-- header -->
        <div class="header">
            <div class="top clearfix">
				<h1><a href="#"><img src="images/logo.png" alt="대한지방행정공제회" /></a></h1>
				<div class="sch_wrap">
					<select>
						<option>통합검색</option>
					</select>
					<input type="text" value="제주">
					<a href="#" class="autoArrow"><img src="images/arr_down.png" /></a>
                    <a href="#" class="btn_sch"></a>
				</div>
				<a href="#" class="detail_btn">상세검색</a>
				<div class="sch_opt">
					<input type="checkbox" id="result_chk" checked="checked" />
					<label for="result_chk"><span></span>결과 내 재검색</label>
				</div>
                <dl class="related_keyword">
                    <dt>연관검색어</dt>
                    <dd><a href="#">검색어</a></dd>
                    <dd><a href="#">검색어</a></dd>
                    <dd><a href="#">검색어</a></dd>
                    <dd><a href="#">검색어</a></dd>
                    <dd><a href="#">검색어</a></dd>
                    <dd><a href="#">검색어</a></dd>
                    <dd><a href="#">검색어</a></dd>
                    <dd><a href="#">검색어</a></dd>
                    <dd><a href="#">검색어</a></dd>
                </dl>
			</div>
        </div>
        <!-- //header -->

        <!-- container -->
        <div class="container">
            <!-- leftArea -->
            <div class="leftArea">
                <ul class="lnb">
                    <li><a class="on" href="#">통합검색<span>(3,482)</span></a></li>
                    <li><a href="#">전자결재<span>(100)</span></a></li>
                    <li><a href="#">게시판<span>(100)</span></a></li>
                    <li><a href="#">지식<span>(100)</span></a></li>
                </ul>
                <div class="optionArea">
                    <dl class="align">
                        <dt>정렬</dt>
                        <dd class="divi on"><a href="">정확도</a></dd>
                        <dd class="divi"><a class="arr" href="">최신순</a></dd>
                    </dl>
                    <dl class="area">
                        <dt>검색범위</dt>
                        <dd class="divi on"><a href="">전체</a></dd>
                        <dd class="divi"><a href="">제목</a></dd>
                        <dd class="divi"><a href="">내용</a></dd>
                        <dd class="divi"><a href="">첨부</a></dd>
                    </dl>
                    <dl class="date">
                        <dt>검색기간</dt>
                        <dd class="divi on"><a href="">전체</a></dd>
                        <dd class="divi"><a href="">1주</a></dd>
                        <dd class="divi"><a href="">1달</a></dd>
                        <dd class="divi"><a href="">1년</a></dd>
                        <dd class="cal_box">
                            <span><input type="text" /><a href="#"><img src="images/icon_day.gif" alt="달력" /></a></span>
                            <span><input type="text" /><a href="#"><img src="images/icon_day.gif" alt="달력" /></a></span>
                        </dd>
                        <dd><a href="#" class="align_btn">검색</a></dd>
                    </dl>
                </div>
            </div>
            <!-- //leftArea -->
            <!-- rightArea -->
            <div class="rightArea">
                <div class="rank">
                    <p>인기검색어</p>
                    <ol>
                        <li><span class="rank_num0">1</span><a href="">기획재정부</a><span class="rank_stay"> -</span></li>
                        <li><span class="rank_num0">2</span><a href="">기획재정부기획재정부</a><span class="rank_stay"> -</span></li>
                        <li><span class="rank_num0">3</span><a href="">기획재정부</a><span class="rank_up">1</span></li>
                        <li><span class="rank_num">4</span><a href="">기획재정부</a><span class="rank_up">1</span></li>
                        <li><span class="rank_num">5</span><a href="">기획재정부</a><span class="rank_down">2</span></li>
                        <li><span class="rank_num">6</span><a href="">기획재정부</a><span class="rank_new">NEW</span></li>
                        <li><span class="rank_num">7</span><a href="">기획재정부</a><span class="rank_stay"> -</span></li>
                        <li><span class="rank_num">8</span><a href="">기획재정부</a><span class="rank_up">1</span></li>
                        <li><span class="rank_num">9</span><a href="">기획재정부</a><span class="rank_up">1</span></li>
                        <li><span class="rank_num">10</span><a href="">기획재정부</a><span class="rank_new">NEW</span></li>
                    </ol>
                </div>
                <div class="my_keyword">
                    <p>내가 찾은 검색어</p>
                    <ul>
                        <li><a href="">&middot; 전시</a>
                            <a class="btn_close" href="#"><img src="images/icon_close.gif" alt="close"></a>
                        </li>
                        <li><a href="">&middot; 특별전</a>
                            <a class="btn_close" href="#"><img src="images/icon_close.gif" alt="close"></a>
                        </li>
                    </ul>
                </div>
                <div class="my_keyword">
                    <p>최근 본 문서</p>
                    <ul>
                        <li><a href="" class="tit">&middot; 전시전시전시전시전시전시전시전시전시</a>
                            <a class="btn_close" href="#"><img src="images/icon_close.gif" alt="close"></a>
                        </li>
                        <li><a href="" class="tit">&middot; 특별전</a>
                            <a class="btn_close" href="#"><img src="images/icon_close.gif" alt="close"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- //rightArea -->
            <!-- contents -->
            <div class="contents">
                <div class="result_top">
                    <strong>'검색어'</strong>에 대한 검색결과는 총[3,482]건 입니다.
                </div>
                <div class="no_result">
                    <p class="tit"><strong>‘00’</strong>으로 검색하시겠습니까?</p>
				    <div class="nort_info clearfix">
				        <div class="nort_img"><img src="images/no_result_img.png" alt="검색결과 없음 이미지"></div>
				        <ul>
				            <li>단어의 철자가 정확한지 확인해 보세요.</li>
				            <li>검색어의 단어 수를 줄이거나, 보다 일반적인 검색어로 다시 검색해 보세요</li>
				            <li>두 단어 이상의 검색어인 경우, 띄어쓰기를 확인해 보세요.</li>
				            <li>상세검색 기능을 변경해서 사용해보세요.</li>
				        </ul>
                    </div>
				</div>
            </div>
            <!-- //contents -->
        </div>
        <!-- //container -->
    </div>
</body>

</html>